<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Emprestímo</title>
        <link rel="stylesheet" href="/css/emprestimos.css" />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link
            rel="shortcut icon"
            href="https://cdn-icons-png.flaticon.com/512/5968/5968313.png"
            type="image/x-icon"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header class="cabecalho">
            <div class="logo">Banco IFmaker</div>

            <div class="title">Empréstimos</div>

            <div class="container-usuario"></div>
        </header>

        <section class="container-tabela">
            <h1 class="titulo-tabela">
                Tabela de itens para serem emprestados
            </h1>

            <table id="tabela-itens">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Item</th>
                        <th>Status</th>
                        <th>Data de Aquisição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="tabela-centralizada" style="display: none">
                <div class="tabela-centralizada-camada">
                    <h1 class="titulo-tabela">
                        Selecione um usuário para fazer o empréstimo
                    </h1>
                    <table id="tabela-usuarios">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome do Usuário</th>
                                <th>Email</th>
                                <th>CPF</th>
                                <th>Telefone</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <h1 class="titulo-tabela" style="margin-top: 100px">
                Tabela de itens que foram emprestados
            </h1>

            <table id="tabela-emprestimos">
                <thead>
                    <tr>
                        <th>ID Empréstimo</th>
                        <th>ID do item</th>
                        <th>ID da Pessoa</th>
                        <th>Data de Empréstimo</th>
                        <th>Data de Devolução</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>

        <!-- Modal Empréstimo -->
        <div id="modal-emprestimo" class="modal" style="display: none">
            <div class="modal-content">
                <span class="fechar">&times;</span>
                <h2>Inserir Informações</h2>
                <label for="dataEmprestimo">Data de Empréstimo:</label>
                <input type="date" id="dataEmprestimo" />
                <label for="dataDevolucao">Data de Devolução:</label>
                <input type="date" id="dataDevolucao" />
                <button id="btnSalvar">Salvar</button>
            </div>
        </div>

        <!-- Modal de edição -->
        <div id="modal-edicao" class="modal" style="display: none">
            <div class="modal-content">
                <span class="fechar">&times;</span>
                <h2>Editar Informações</h2>
                <label for="dataEmprestimoEdicao">Data de Empréstimo:</label>
                <input type="date" id="dataEmprestimoEdicao" />
                <label for="dataDevolucaoEdicao">Data de Devolução:</label>
                <input type="date" id="dataDevolucaoEdicao" />
                <label for="statusEdicao">Status:</label>
                <button id="btnStatusPendente">Pendente</button>
                <button id="btnStatusDevolvido">Devolvido</button>
                <button id="btnSalvarEdicao">Salvar</button>
            </div>
        </div>

        <!-- Modal de exclusão -->
        <div id="modal-exclusao" class="modal" style="display: none">
            <div class="modal-content">
                <span class="fechar">&times;</span>
                <h2>Confirmar Exclusão</h2>
                <p style="margin: 10px 0">
                    Tem certeza de que deseja excluir este item?
                </p>
                <button id="btnCancelarExclusao">Cancelar</button>
                <button id="btnConfirmarExclusao">Confirmar</button>
            </div>
        </div>

        <script src="/JS/emprestimos.js"></script>
    </body>
</html>
