<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Usuário</title>
        <link rel="stylesheet" href="/css/usuarios.css" />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link
            rel="shortcut icon"
            href="https://cdn-icons-png.flaticon.com/512/5968/5968313.png"
            type="image/x-icon"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div>
            <div class="a">
                <div class="as">
                        <h1>Formulario</h1>
                        <div id="erro"></div>

                        <div id="sucesso"></div>
                            <form id="form-cadastro" class="form-cadastro">
                                <div class="oi">
                                    <label  for="usuario">Usuário</label>
                                    <input id="usuario" type="text" name="usuario" >
                                    <label  for="senha">Senha</label>
                                    <input id="senha" type="password" name="senha"> 
                                    <label  for="email">Email</label>
                                    <input id="email" type="text" name="email">
                                    <label  for="cpf">CPF</label>
                                    <input id="cpf" type="text" name="cpf">
                                    <label  for="telefone">Telefone</label>
                                    <input id="telefone" type="text" name="telefone">
                                    <button type ="submit"></button>>Cadastrar</button>
                                </div>
                            </form>
        
                </div>
                        <div>
                            <h1 class="lista">Listando usuários</h1>
                            <table class="tabela" id="tabela">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>CPF</th>
                                        <th>Telefone</th>
                                        <th>Alterar</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
         </div>
         <script src="/JS/usuarios.js"></script>
    </body>
</html>



