<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Usuário</title>
        <link rel="stylesheet" href="/css/usuarios.css" />
        <link rel="stylesheet" href="/css/globalStyles.css" />
        <link
            rel="shortcut icon"
            href="https://cdn-icons-png.flaticon.com/512/5968/5968313.png"
            type="image/x-icon"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div>
            <div class="a">
                <div class="as">
                    <h1>Formulario</h1>
                    <div id="erro"></div>
                    <div id="sucesso"></div>
        
                    <div class="oi">
                        <input type="text" id="usuario" placeholder="">
                        <label id="labelu" for="usuario">Usuario</label>
                    </div>
                    <div class="oi">
                        <input type="password" id="senha" placeholder="">
                        <label id="labels" for="senha">Senha</label>
                    </div>
        
                    <div class="botao">
                        <button onclick="cadastrar()">cadastrar</button>
                    </div>
                    
        
                </div>
            <h1>Listando usuarios</h1>
        </div>
    </body>
</html>
